<footer>
    <nav class="nav-footer">
        <ul class="nav__list-footer">
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Главная</a>
            </li>
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Статьи</a>
            </li>
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="#">Обо мне</a>
            </li>
        </ul>
        <ul class="nav__list-footer">
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Мои работы</a>
            </li>
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Написать мне</a>
            </li>
        </ul>
        <ul class="nav__list-footer">
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Профиль</a>
            </li>
            <li class="nav__item-footer">
                <a class="nav__link-footer" href="index.html">Реклама</a>
            </li>
        </ul>
    </nav>
</footer>
